{% if action.allowAclAction %}
    <li>
        <a href="{{ path('entity_acl', {id: action.id, serviceId: action.serviceId}) }}">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            {{ 'entity.list.action.acl'|trans }}
        </a>
    </li>
{% endif %}
