{% if action.allowCopyToProductionAction %}
    <li>
        <a href="{{ path('entity_copy', {manageId: action.id, serviceId: action.serviceId, targetEnvironment: 'production'}) }}">
            <i class="fa fa-copy" aria-hidden="true"></i>
            {{ 'entity.list.action.copy_to_production'|trans }}
        </a>
    </li>
{% endif %}
