{% if action.allowDeleteAction %}
    {% set deletePath %}
        {% if action.isPublishedToProduction %}
            {{ path('entity_delete_request', {serviceId: action.serviceId, manageId: action.id}) }}
        {% elseif action.isPublished or action.isRequested %}
            {{ path('entity_delete_published', {serviceId: action.serviceId, manageId: action.id, environment: action.environment}) }}
        {% endif %}
    {% endset %}
    <li>
        <a data-testid="delete" href="{{ deletePath }}">
            <i class="fa fa-trash" aria-hidden="true"></i>
            {{ 'entity.list.action.delete'|trans }}
        </a>
    </li>
{% endif %}
