{% if action.allowOpenConnectionRequestAction %}
    <li>
        <a href="{{ path('entity_published_open_connection_request', {manageId: action.id, environment: action.environment, serviceId: action.serviceId}) }}">
            <i class="fa fa-link" aria-hidden="true"></i>
            {{ 'entity.list.action.open.connection.request'|trans }}
        </a>
    </li>
{% endif %}
