<li>
    {% if isAdmin %}
        {% set overviewHref = path('service_admin_overview', {'serviceId': entity.serviceId}) %}
    {% else %}
        {% set overviewHref = path('service_overview') %}
    {% endif %}
    <a href="{{ overviewHref }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        {{ 'entity.list.action.back'|trans }}
    </a>
</li>
