{% if action.allowSecretResetAction %}
    <li>
        <a href="#reset-secret-confirmation" rel="modal:secret" data-url="{{ path('entity_reset_secret', {serviceId: action.serviceId, manageId: action.id, environment: action.environment}) }}">
            <i class="fa fa-key" aria-hidden="true"></i>
            {{ 'entity.list.action.reset_secret'|trans }}
        </a>
    </li>
{% endif %}
