{% if value is not empty %}
<div class="detail monospaced">
    {% if informationPopup is defined %}
        <span data-tippy-content="{{ informationPopup|trans }}" class="help-button">
            <i class="fa fa-question-circle"></i>
        </span>
    {% endif %}
    <label>{{ label }}</label><pre>{{ value }}</pre>
</div>
{% endif %}
