<style type="text/css">.dl-horizontal dt{float:left;width:160px;overflow:hidden;clear:left;text-align:right;text-overflow:ellipsis;white-space:nowrap}.dl-horizontal dd{margin-left:180px}</style>
Hi,<br/>

<p>
    SP Dashboard tried to create a 'spd-request-production-entity' Jira issue. This action failed. The following exception was raised:
</p>

<pre>
    {{ exception.message }}
    {{ dump(exception.trace) }}
</pre>

<p>
    The entity was not published to Manage, and the customer was informed to try again at a later time.
</p>

<p>
    Kind regards,
</p>

<p>
    SURFconext
</p>
