Hi,<br/>

<p>
    A {{ entity.environment }} SP Dashboard registration has just been finished. <br />

    Link to Metadata:
    <a href="{{ url('entity_metadata', {entityId: entity.id} ) }}">
        {{ url('entity_metadata', {entityId: entity.id} ) }}
    </a>
</p>


<p>
    Kind regards,
</p>

<p>
    SURFconext
</p>