{% extends 'base.html.twig' %}

{% block page_heading %}{{ 'entity.published_production.title'|trans }}{%endblock%}
{% block body %}

    {{ 'entity.published_production.text.html'|trans({'%entityName%': entityName})|wysiwyg }}

    {% if showOidcPopup %}
        <div class="modal" id="oidc-published-popup">
            {{ render(controller('Surfnet\\ServiceProviderDashboard\\Infrastructure\\DashboardBundle\\Controller\\EntityPublishedController::oidcConfirmationModal', {'entity': publishedEntity})) }}
        </div>
    {% endif %}
{% endblock %}
