{% extends 'base.html.twig' %}

{% block page_heading %}{{ 'entity.published_production_and_sent_connection_request.title'|trans }}{%endblock%}
{% block body %}

    {{ 'entity.published_production_and_sent_connection_request.text.html'|trans({'%entityName%': entityName})|wysiwyg }}

    {% if showOidcPopup %}
        <div class="modal" id="oidc-published-popup">
            {{ render(controller('DashboardBundle:EntityPublished:oidcConfirmationModal', {'entity': publishedEntity})) }}
        </div>
    {% endif %}
{% endblock %}
