{% extends 'base.html.twig' %}

{% block page_heading %}{{ 'entity.sent_connection_request.title'|trans }}{%endblock%}
{% block body %}

    {{ 'entity.sending_connection_request.text.html'|trans|wysiwyg }}

    {% if showOidcPopup %}
        <div class="modal" id="oidc-published-popup">
            {{ render(controller('Surfnet\\ServiceProviderDashboard\\Infrastructure\\DashboardBundle\\Controller\\EntityPublishedController::oidcConfirmationModal', {'entity': publishedEntity})) }}
        </div>
    {% endif %}

{% endblock %}
