surfnet_saml:
  hosted:
    service_provider:
      enabled: true
      assertion_consumer_route: dashboard_saml_consume_assertion
      public_key: "%env(saml_sp_publickey)%"
      private_key: "%env(saml_sp_privatekey)%"
    metadata:
      entity_id_route: dashboard_saml_metadata
      public_key: "%env(saml_metadata_publickey)%"
      private_key: "%env(saml_metadata_privatekey)%"
  remote:
    identity_provider:
      enabled: true
      entity_id: "%env(saml_remote_idp_entity_id)%"
      sso_url: "%env(saml_remote_idp_sso_url)%"
      certificate: "%env(saml_remote_idp_certificate)%"