language: php

addons:
  apt:
    packages:
      - ant
php:
  - 5.6
  - 7.2
  - 7.3


matrix:
  allow_failures:
    - php: 7.2
    - php: 7.3

cache:
  directories:
    - ~/.composer/cache/files

before_script:
  - phpenv config-add travis.php.ini
  - composer install --no-interaction
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
  - yarn install
  - yarn encore production

after_failure:
  - cat /home/travis/build/SURFnet/sp-dashboard/var/logs/test.log

script:
  - ant

branches:
  only:
    - develop
    - master