{% if value == true or value == false %}
<div class="detail">
    {% if informationPopup is defined %}
        <span data-tippy-content="{{ informationPopup|trans }}" class="help-button">
            <i class="fa fa-question-circle"></i>
        </span>
    {% endif %}
    <label>{{ label }}</label>
    {% if value %}
        <i class="fa fa-check-square"></i>
    {% else %}
        <i class="fa fa-square"></i>
    {% endif %}
</div>
{% endif %}
