{% extends '::modal.html.twig' %}

{% block page_heading %} {{ 'entity.list.modal.oidc_confirmation.title'|trans }} {% endblock %}

{% block body %}
    <div class="warning"><i class="fa fa-exclamation-triangle"></i>{{ 'entity.list.modal.oidc_confirmation.warning'|trans|raw }}</div>
    <div class="wysiwyg">{{ 'entity.list.modal.oidc_confirmation.info.html'|trans|raw }}</div>

    <div class="row oidc-confirmation">
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {label: 'entity.list.modal.oidc_confirmation.client_secret.label'|trans, value: entity.clientSecret} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {label: 'entity.list.modal.oidc_confirmation.client_id.label'|trans, value: entity.clientId} %}

        <div class="button-row">
            <a href="#close" class="button pull-right" rel="modal:close">Close</a>
        </div>
    </div>

{% endblock %}
