<form name="dashboard_bundle_edit_service_type" method="post" novalidate="novalidate" data-parsley-validate=""
      class="service-form">
    <div class="row">
        <div class="fieldset card">
            <h2>General</h2>

            <div id="dashboard_bundle_edit_service_type_general">
                <div class="form-row"><label for="dashboard_bundle_edit_service_type_general_name"
                                             class="required">Name</label>
                    <p class="parsley-errors"></p>
                    <input type="text" id="dashboard_bundle_edit_service_type_general_name"
                           name="dashboard_bundle_edit_service_type[general][name]" required="required"
                           value="New service"/></div>
                <div class="form-row"><label for="dashboard_bundle_edit_service_type_general_institutionId">Institution
                    ID</label>
                    <p class="parsley-errors"></p>
                    <input type="text" id="dashboard_bundle_edit_service_type_general_institutionId"
                           name="dashboard_bundle_edit_service_type[general][institutionId]"
                           class="institution-id-container" value="inst-id"/></div>
                <div class="form-row"><label for="dashboard_bundle_edit_service_type_general_teamName" class="required">team
                    identifier</label>
                    <p class="parsley-errors"></p>
                    <input type="text" id="dashboard_bundle_edit_service_type_general_teamName"
                           name="dashboard_bundle_edit_service_type[general][teamName]" required="required"
                           value="team-23"/></div>
                <div class="form-row"><label for="dashboard_bundle_edit_service_type_general_privacyQuestionsEnabled">Privacy
                    questions enabled</label>
                    <p class="parsley-errors"></p>
                    <input type="checkbox" id="dashboard_bundle_edit_service_type_general_privacyQuestionsEnabled"
                           name="dashboard_bundle_edit_service_type[general][privacyQuestionsEnabled]"
                           class="privacy-questions-toggle" value="1" checked="checked"/>
                </div>
                <div class="form-row"><label for="dashboard_bundle_edit_service_type_general_oidcngEnabled">Oidcng
                    enabled</label>
                    <p class="parsley-errors"></p>
                    <input type="checkbox" id="dashboard_bundle_edit_service_type_general_oidcngEnabled"
                           name="dashboard_bundle_edit_service_type[general][oidcngEnabled]"
                           class="privacy-questions-toggle" value="1" checked="checked"/>
                </div>
                <div class="form-row"><label for="dashboard_bundle_edit_service_type_general_guid" class="required">CRM
                    ID</label>
                    <p class="parsley-errors"></p>
                    <input type="text" id="dashboard_bundle_edit_service_type_general_guid"
                           name="dashboard_bundle_edit_service_type[general][guid]" required="required"
                           value="4d7fa09f-d1d0-4517-8d47-b4c6ebd36076"/></div>
            </div>
        </div>

        <div class="fieldset card pull-right">
            <h2>Service status</h2>

            <div id="dashboard_bundle_edit_service_type_serviceStatus">
                <div class="form-row"><label class="required">Type of service</label>
                    <p class="parsley-errors"></p>
                    <div id="dashboard_bundle_edit_service_type_serviceStatus_serviceType"
                         class="service-status-container contract-signed-toggle">
                        <div class="radio-container">
                            <div class="input-container">
                                <input type="radio" id="dashboard_bundle_edit_service_type_serviceStatus_serviceType_0"
                                       name="dashboard_bundle_edit_service_type[serviceStatus][serviceType]"
                                       required="required" value="institute"/>
                            </div>
                            <label for="dashboard_bundle_edit_service_type_serviceStatus_serviceType_0"
                                   class="required">Institute</label></div>
                        <div class="radio-container">
                            <div class="input-container">
                                <input type="radio" id="dashboard_bundle_edit_service_type_serviceStatus_serviceType_1"
                                       name="dashboard_bundle_edit_service_type[serviceStatus][serviceType]"
                                       required="required" value="non-institute" checked="checked"/>
                            </div>
                            <label for="dashboard_bundle_edit_service_type_serviceStatus_serviceType_1"
                                   class="required">Not an institute</label></div>
                    </div>
                </div>
                <div class="form-row"><label class="required">Intake finished</label>
                    <p class="parsley-errors"></p>
                    <div id="dashboard_bundle_edit_service_type_serviceStatus_intakeStatus"
                         class="service-status-container">
                        <div class="radio-container">
                            <div class="input-container">
                                <input type="radio" id="dashboard_bundle_edit_service_type_serviceStatus_intakeStatus_0"
                                       name="dashboard_bundle_edit_service_type[serviceStatus][intakeStatus]"
                                       required="required" value="no" checked="checked"/>
                            </div>
                            <label for="dashboard_bundle_edit_service_type_serviceStatus_intakeStatus_0"
                                   class="required">No</label></div>
                        <div class="radio-container">
                            <div class="input-container">
                                <input type="radio" id="dashboard_bundle_edit_service_type_serviceStatus_intakeStatus_1"
                                       name="dashboard_bundle_edit_service_type[serviceStatus][intakeStatus]"
                                       required="required" value="yes"/>
                            </div>
                            <label for="dashboard_bundle_edit_service_type_serviceStatus_intakeStatus_1"
                                   class="required">Yes</label></div>
                        <div class="radio-container">
                            <div class="input-container">
                                <input type="radio" id="dashboard_bundle_edit_service_type_serviceStatus_intakeStatus_2"
                                       name="dashboard_bundle_edit_service_type[serviceStatus][intakeStatus]"
                                       required="required" value="not-applicable"/>
                            </div>
                            <label for="dashboard_bundle_edit_service_type_serviceStatus_intakeStatus_2"
                                   class="required">Not applicable</label></div>
                    </div>
                </div>
                <div class="form-row"><label class="required">Contract signed</label>
                    <p class="parsley-errors"></p>
                    <div id="dashboard_bundle_edit_service_type_serviceStatus_contractSigned"
                         class="service-status-container contract-signed-container">
                        <div class="radio-container">
                            <div class="input-container">
                                <input type="radio"
                                       id="dashboard_bundle_edit_service_type_serviceStatus_contractSigned_0"
                                       name="dashboard_bundle_edit_service_type[serviceStatus][contractSigned]"
                                       required="required" value="no" checked="checked"/>
                            </div>
                            <label for="dashboard_bundle_edit_service_type_serviceStatus_contractSigned_0"
                                   class="required">No</label></div>
                        <div class="radio-container">
                            <div class="input-container">
                                <input type="radio"
                                       id="dashboard_bundle_edit_service_type_serviceStatus_contractSigned_1"
                                       name="dashboard_bundle_edit_service_type[serviceStatus][contractSigned]"
                                       required="required" value="yes"/>
                            </div>
                            <label for="dashboard_bundle_edit_service_type_serviceStatus_contractSigned_1"
                                   class="required">Yes</label></div>
                    </div>
                </div>
                <div class="form-row"><label class="required">SURFconext representative approved</label>
                    <p class="parsley-errors"></p>
                    <div id="dashboard_bundle_edit_service_type_serviceStatus_surfconextRepresentativeApproved"
                         class="service-status-container representative-signed-container">
                        <div class="radio-container">
                            <div class="input-container">
                                <input type="radio"
                                       id="dashboard_bundle_edit_service_type_serviceStatus_surfconextRepresentativeApproved_0"
                                       name="dashboard_bundle_edit_service_type[serviceStatus][surfconextRepresentativeApproved]"
                                       required="required" value="no" checked="checked"/>
                            </div>
                            <label for="dashboard_bundle_edit_service_type_serviceStatus_surfconextRepresentativeApproved_0"
                                   class="required">No</label></div>
                        <div class="radio-container">
                            <div class="input-container">
                                <input type="radio"
                                       id="dashboard_bundle_edit_service_type_serviceStatus_surfconextRepresentativeApproved_1"
                                       name="dashboard_bundle_edit_service_type[serviceStatus][surfconextRepresentativeApproved]"
                                       required="required" value="yes"/>
                            </div>
                            <label for="dashboard_bundle_edit_service_type_serviceStatus_surfconextRepresentativeApproved_1"
                                   class="required">Yes</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="button-wrapper">
        <div>
            <button type="submit" id="dashboard_bundle_edit_service_type_save"
                    name="dashboard_bundle_edit_service_type[save]" class="button">Save
            </button>
        </div>
        <div>
            <button type="submit" id="dashboard_bundle_edit_service_type_delete"
                    name="dashboard_bundle_edit_service_type[delete]" class="button btn-danger">Delete
            </button>
        </div>
        <input type="hidden" id="dashboard_bundle_edit_service_type__token"
               name="dashboard_bundle_edit_service_type[_token]" value="w3v1haXX-ll7_KA_x9GCEcgjzjmlYV-PJE9cy1cThC0"/>
</form>
