# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    container.dumper.inline_class_loader: true

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
