<input class="modal__switch" type="checkbox" id="invite-member" name="invite-member" />
<div class="teams__buttonWrapper">
    <label class="button darkGreen" for="invite-member">
        {{ 'team.management.invite'|trans }}
        <i class="fa fa-plus teams__buttonIcon" aria-hidden="true"></i>
    </label>
</div>
