{% extends '::base.html.twig' %}

{% block page_heading %}
    {{ 'teams.management.title'|trans }}
{% endblock %}

{% block body %}

{% if users is defined %}
    {% include "@Dashboard/Teams/flashMessages.html.twig" %}
    {% include "@Dashboard/Teams/inviteButton.html.twig" %}
    {% include "@Dashboard/Teams/teamTable.html.twig" %}
    {% include "@Dashboard/Teams/inviteModal.html.twig" %}
{% else %}
    <p>{{ 'teams.management.notFound'|trans }}</p>
{% endif %}
{% endblock %}

