.collection-widget {
  .collection-entry {
    box-sizing: border-box;
    width: 100%;
    padding-right: 40px;

    position: relative;

    &.error {
      input {
        background: #ffe5e5;
      }
    }
  }

  .collection-entry-collection {
    position: relative;
  }

  .button-small {
    position: absolute;
    right: 0;
    top: 0;


    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: white;
    color: $blue;
    border: 1px solid $lighter-grey;
    border-radius: $br;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    @include no-text-decoration;
  }
}