.page-container .card {
  &.action {
    height: 4em;
    background: $blue;
    padding: 0 0 0 25px;
    color: white;
    li {
      display: inline;
      float: left;
      a {
        font-size: larger;
        text-decoration: none;
        color: white;
        display: block;
        padding: 1em 3em 0 0;
      }
    }
  }

  .detail {
    position: relative;
    pre {
      font-family: monospace;
    }
  }
}

.entity-detail-h3 {
  border-bottom: 3px solid $lighter-grey;
  color: $dark-grey;
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-transform: none;
}
