form {
  .form-row {
    position: relative;
    @include clearfix;
    width: 100%;
  }

  .button.blue{
    background-color: $blue;
    color: #fff;
    border: none;
  }

  .button-wrapper {
    margin-top: 25px;

    div {
      display: inline;
      margin-right: 25px;
    }
  }

  div.button-row {
    display: block;
    height: 30px;
    margin: 15px 0;

    .button {
      margin: 0 15px 0 0;
    }
  }

  button.hidden {
    display: none;
  }
}

.help-button {
  i.fa {
    color: $blue;
  }

  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.tippy-tooltip.light-theme {
  @include tool-tip;

  text-align: left;

  a {
    color: $blue;
  }

  p {
    margin-bottom: 1rem;
    &:last-child{
      margin-bottom: 0;
    }
  }

  h1, h2, h3 {
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ul li {
    list-style-position: inside;
    list-style-type: initial;
    list-style-image: initial;
  }
}

input[readonly] {
  background: #eff2f3;
}

