@import "~jquery-modal/jquery.modal.css";

.blocker {
  background-color: rgba(95,95,95,.7);

  &--teams {
    display: none;
  }
}
.modal {
  background-color: #f5f5f5;
  border-radius: 3px;
  outline: none;
  padding: 0;
  box-shadow: 1px 1px 6px 0 #5f5f5f;
  max-width: 650px;

  header {
    background-color: $blue;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: large;
    font-weight: 700;
  }

  .modal-container {
    padding: 15px 30px;
  }
}

.oidc-confirmation {
  .detail {
    margin-bottom: 0.3em;
    label {
      font-weight: bold;
      text-transform: none;
      width: 100px;
      display: inline-block;
    }
    pre {
      display: inline-block;
      font-family: monospace;
      font-size: 1.2rem;
      width: auto;
    }
  }
  .button-row {
    height: 3em;
    .button {
      margin-right: 0.5em;
    }
  }
}

.warning {
  margin-bottom: 1em;
  font-weight: bolder;
  i {
    color: $orange;
    margin-right: 0.5em;
  }
}

.modal__switch {
  display: none;
}

.modal__switch:checked ~ .blocker {
  display: block;
}

.modal__switch:checked ~ .blocker > .modal {
  display: inline-block;
}

.modal .button-row {
  display: flex;
  justify-content: flex-end;

  .button {
    height: 2.5rem;
    line-height: normal;
  }
}

.modal__header {
  background-color: $blue;
  color: $white;
  font-size: $h1Font;
  font-weight: 700;
  padding: 2.5rem 2rem 2rem;
  text-transform: uppercase;
}
