.service-status-container {
  display: block;
  padding: 2rem 0 0;

  a {
    color: #428bca;
    text-decoration: underline;
  }

  a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
  }

  a.admin:hover, a.admin:focus {
    border: 1px dashed white;
    color: $white;

    i {
      color: inherit;
    }
  }

  &:last-child {
    border: none;
    padding-bottom: 20px;
  }

  .service-status-graph {
    display: block;
    position: relative;
    width: 400px;
    height: 450px;

    .service-status-legend {
      clear: both;
      display: block;
      text-align: center;
      width: 100%;

      .legend-item {
        @include motion {
          animation: fadein 2s;
        }
        color: $black;
        display: inline-block;
        font-size: $smallFont;
        margin: 0 10px 10px;
        padding: 2px 5px;

        @keyframes fadein {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }

    .service-status-percentage {
      @include motion {
        animation: fadein 2s;
      }
      color: #d1d2d6;
      display: block;
      font-size: $h2Font;
      left: 200px;
      line-height: 0;
      margin-left: -100px;
      position: absolute;
      text-align: center;
      top: 200px;
      width: 200px;

      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .service-status-entities {
    @include motion {
      animation: fadein 2s;
    }
    display: block;
    font-weight: bold;
    margin-top: 3rem;

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .section-title {
      font-weight: normal;
    }

    td, th {
      font-size: $smallFont;
    }
  }
}

/* todo: refactor base.css so we no longer need this convoluted selector */
.page-container .card .service-status-container h2.service-status-title {
  align-items: center;
  color: $blue;
  display: flex;
  font-size: $h2Font;
  justify-content: flex-start;
  margin: 0 0 1.5rem 0;
}

.service-status-back-to-top {
  text-align: right;
}

.service-status-back-to-top-link {
  color: $blue;
  font-size: $backToTopFont;
  padding: .5rem;

  &:focus,
  &:hover {
    outline: 3px solid $blue;
  }
}

.service {
  margin: 2rem 0;
}

.service-status-title-actions {
  display: flex;
  margin-left: 1rem;
}

.service-status-graph-container {
  margin-top: 3rem;
}

.service-status-graph-title {
  align-items: center;
  display: flex;
  font-size: $h2Font;
  font-weight: 700;
  justify-content: space-between;
}

.service-status-entities-table {
  &:not(:first-of-type) {
    margin-top: 2rem;
  }

  tr:first-of-type {
    border-top: 0;
  }
}

.service-status-section-title {
  font-size: $h2Font;
  margin: 2rem 0 1.25rem 0;
}

.service-status-entities-table-title {
  align-items: center;
  border-bottom: 3px solid $lighter-grey;
  color: $dark-grey;
  display: flex;
  font-size: $bigFont;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-transform: none;
}

a.service-status-title-button.blue.button.title {
  min-width: 5rem;

  &:focus,
  &:hover {
    color: white;
  }
}

.service-status-title-action-item {
  &:not(:last-of-type) {
    .service-status-title-button {
      margin-right: .25rem;
    }
  }
}

[id^="add-for-production"],
[id^="add-for-test"] {
  display: none;

  &:not(:checked) ~ .blocker {
    display: none;

    .modal {
      display: none;
    }
  }

  &:checked ~ .blocker {
    display: block;
  }
}

[id^="add-for-production"]:checked ~ .blocker .modal[data-for^="add-for-production"] {
  display: inline-block;
}

[id^="add-for-test"]:checked ~ .blocker .modal[data-for^="add-for-test"] {
  display: inline-block;
}

label[for^="add-for"].link, .privacy-notification-link {
  padding-left: 0;
}

#chartjs-tooltip {
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);

  a {
    color: #4B9EE6;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: #428bca;
    text-decoration: underline;
  }
}

.privacy-notification-title {
  color: $red;
  font-size: $h2Font;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
}
