.service-status-container {
  display:block;
  clear: both;
  overflow: auto;
  border-bottom: 1px solid #4DB2CF;
  padding: 30px 0 50px;

  a {
    color:#428bca;
    text-decoration:none;
  }
  a:hover,a:focus {
    color:#2a6496;
    text-decoration:underline;
  }

  &:last-child {
    border: none;
    padding-bottom: 0;
  }

  .service-status-title {
    font-size: 25px;
  }

  .service-status-canvas {
    display: block;
    float: left;
    width: 600px;
    height: 300px;
  }

  .service-status-entities {
    display: block;
    float: right;
    width: 300px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 40px;

    .service-status-entity-link {
      display: block;
      width: 100%;
      padding: 10px;
      border-top: 1px solid #d9d9d8;
      font-weight: normal;
      text-transform: initial;

      &:last-child {
        border-bottom: 1px solid #d9d9d8;
      }
    }
  }
}