{% form_theme form 'form/fields.html.twig' %}

{% extends '::modal.html.twig' %}

{% block page_heading %} {{ 'entity.type.title'|trans }} {% endblock %}

{% block body %}
    <div class="wysiwyg">{{ 'entity.type.description.html'|trans|wysiwyg }}</div>

    <div class="row entity-type">
        {{ form_start(form, {'action': path('entity_type', {'serviceId': serviceId, 'targetEnvironment': environment, 'inputId': inputId})}) }}
        {% include "@Dashboard/EntityModal/addEntityModal.html.twig" %}
        {{ form_end(form) }}
    </div>

{% endblock %}
