{% extends '::base.html.twig' %}

{% block page_heading %} {{ 'entity.type.title'|trans }} {% endblock %}

{% block body %}

    <div class="wysiwyg">{{ 'entity.type.description.html'|trans|raw }}</div>

{% endblock %}
