/* The stylint specificty rule is disabled because this stylint rule was added after the initial scss was set up and now will cost to much time to refactor, feel free to do so! */
/* stylelint-disable no-descending-specificity */
form {
  .fieldset.card {
    li.error {
      color: $red;
    }
  }

  .attributes .form-row {
    width: 100%;

    label {
      padding-bottom: 5px;
    }

    .attribute-row-wrapper {
      @include clearfix;

      border: 1px solid $lighter-grey;
      border-radius: $br;
      width: 100%;

      // Checkbox element wrapper
      .form-row {
        background-color: $light-blue;
        clear: none;
        float: left;
        margin-bottom: 0;
        width: 40px;

        // Input element wrapper
        & + .form-row {
          background-color: white;
          width: calc(100% - 40px);
        }

        & + div.clearfix {
          clear: both;
          margin: 0;
        }

        input.requested {
          margin: 11px;
        }

        ::-webkit-input-placeholder {
          color: $lighter-grey;
        }

        ::-moz-placeholder {
          color: $lighter-grey;
          opacity: 1;
        }

        input.motivation {
          border: 0;
          margin-top: 0;
          padding: 9px;
        }

        label {
          display: none;
        }
      }

      .form-row.disabled {
        background-color: $lighter-grey;

        ::-webkit-input-placeholder {
          color: $dark-grey;
        }

        ::-moz-placeholder {
          color: $dark-grey;
          opacity: 1;
        }

        input.motivation {
          background-color: $light-grey;
          border-radius: 0;
        }
      }
    }
  }

  .form-row {
    .radio-container {
      border: 1px solid $lighter-grey;
      border-radius: $br;
      clear: both;
      float: left;
      margin: 5px 0;
      width: 40%;

      @media (max-width: #{$maxSmallPhone}) {
        width: 100%;
      }

      label {
        color: $dark-grey;
        text-transform: none;
        padding-left: 9px;
      }
    }

    .input-container {
      background-color: $light-blue;
      display: inline-block;
      height: 40px;
      margin-bottom: 0;
      padding: 10px;
      width: 40px;
    }

    input[type="radio"] {
      margin: 0;
    }
  }

  .fieldset.contact .form-row {
    // Header: "Administrative contact", "..."
    & > label {
      border-bottom: 3px solid $lighter-grey;
      color: $dark-grey;
      font-size: 18px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      text-transform: none;
    }
    .form-row label {
      border-bottom: none;
      color: $medium-grey;
      font-size: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
      text-transform: uppercase;
    }
  }

  &.service-form {
    background: white;
    .button-wrapper {
      clear: both;
      padding: 25px;
    }
    .card {
      float: left;
      width: 50%;
      box-shadow: none;
    }
    .radio-container {
      width: 100%;
    }
  }
}
/* stylelint-enable */

