<ul>
    <li>
        <a href="{{ path('entity_list', {'serviceId': entity.serviceId}) }}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            {{ 'entity.list.action.back'|trans }}
        </a>
    </li>
    {% include "@Dashboard/EntityActions/editAction.html.twig" with {action: entity} %}
    {% include "@Dashboard/EntityActions/secretResetAction.html.twig" with {action: entity} %}
    {% include "@Dashboard/EntityActions/deleteAction.html.twig" with {action: entity} %}
    {% include "@Dashboard/EntityActions/copyAction.html.twig" with {action: entity} %}
    {% include "@Dashboard/EntityActions/cloneAction.html.twig" with {action: entity} %}
</ul>