{% if action.allowCreateConnectionRequestAction %}
    <li>
        <a href="{{ path('entity_published_create_connection_request', {manageId: action.id, environment: action.environment, serviceId: action.serviceId}) }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            {{ 'entity.list.action.create.connection.request'|trans }}
        </a>
    </li>
{% endif %}
