{% extends '::modal.html.twig' %}

{% block page_heading %} {{ 'entity.actions.modal.oidc_client_reset.title'|trans }} {% endblock %}

{% block body %}
    <div class="warning"><i class="fa fa-exclamation-triangle"></i>{{ 'entity.actions.modal.oidc_client_reset.warning'|trans|raw }}</div>
    <div class="wysiwyg">{{ 'entity.actions.modal.oidc_client_reset.info.html'|trans|raw }}</div>

    <div class="row">
        <div class="button-row">
            <a href="#" class="button pull-right" rel="modal:close">Cancel</a>
            <a href="#" id="reset-secret-confirmation-link" class="button pull-right blue">Reset</a>
        </div>
    </div>
    <br/>
{% endblock %}
