.page-container {
  @include page;

  h1 {
    font-size: 30px;
    margin: 35px 0 20px 0;
  }

  h2 {
    margin: 35px 0 20px 0;
  }

  h2.section-title {
    font-size: $h2Font;
  }

  h2:not(.section-title) {
    font-size: 22px;
  }

  .card {
    @include card;
    @import "../excludes/forms";
    padding: 25px;

    &--second {
      border-top: unset;
      margin-top: -3rem;
      padding-top: 0;
    }

    section.form-divider {
      border-bottom: 1px solid $lighter-grey;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }

    .attributes > div.form-row > p.parsley-errors {
      margin-bottom: .5em;
    }

    .validity-input-wrapper {

      i {
        &.fa-check {
          color: $green;
        }
        &.fa-exclamation {
          color: $red;
        }
        &.fa-search {
          color: $blue;
        }
      }
    }
  }

  .m-t-1 {
    margin-top: 1em;
  }
}

.hidden {
  display: none;
}
