.service-connections {
  div.sps {
    td {
      padding: 15px 10px;

      i.connected {
        color: $dark-green;
      }
      i.not-connected {
        color: $red;
      }

      &.idp {
        width: 3rem;
      }
    }
    th {
      border-bottom: 1px solid $black;
      padding: 11px 10px;
      font-size: .875rem;
      font-weight: 600;
      vertical-align: bottom;
    }

    td.name {
      color: $blue
    }
  }
}
