{% extends '::base.html.twig' %}

{% block page_heading %}{{ 'supplier.edit.title'|trans }}{%endblock%}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="message error">
            {{ message }}
        </div>
    {% endfor %}


    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}
