<header>
    <h1>{% block page_heading %}{% endblock %}</h1>
</header>
<div class="modal-container">
    {% block body_container %}
    <div class="card">
        {% block body %}{% endblock %}
    </div>
    {% endblock %}
</div>