<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="../../tests/bootstrap.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         stopOnFailure="true"
         failOnRisky="true">

  <coverage>
    <include>
      <directory>../../src</directory>
    </include>
    <exclude>
      <directory>../../src/*Bundle/Resources</directory>
      <directory>../../src/*/*Bundle/Resources</directory>
      <directory>../../src/*/Bundle/*Bundle/Resources</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="1024M"/>
    <server name="KERNEL_CLASS" value="Surfnet\ServiceProviderDashboard\Kernel"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
    <env name="APP_ENV" value="test"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>../../tests/unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>../../tests/integration</directory>
    </testsuite>
    <testsuite name="webtests">
      <directory>../../tests/webtests</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <extension class="Symfony\Component\Panther\ServerExtension"/>
  </extensions>
</phpunit>
