{% extends '::base.html.twig' %}

{% block body %}

    {% for service in services %}
        <h1><a href="{{ path('select_service', {"service": service.id }) }}">{{ service.name }}</a></h1>
    {% endfor %}

{% endblock %}

{% block page_heading %}{{ 'service.overview.title'|trans }}{%endblock%}
