{% extends '::base.html.twig' %}

{% block body %}

    <div id="service-states">
    {% for service in services %}
        <div class="service-status-container" data-service-id="{{ service.id }}"></div>
    {% endfor %}
    </div>

{% endblock %}

{% block page_heading %}{{ 'service.overview.title'|trans }}{%endblock%}
