<caption>{% spaceless %}
        <h2 class="service-status-entities-table-title">
                {% if originalData is defined %}{{ originalData.name }} {% endif %}{{ 'teams.management.table.title'|trans }}
        </h2>
    {% endspaceless %}
</caption>
