{% extends 'base.html.twig' %}

{% block page_heading %}{{ 'saml_authn_failed.title'|trans }}{% endblock %}

{% block body %}
    <p>{{ 'saml_authn_failed.text.authn_failed'|trans }}</p>
    <a class="btn btn-primary" href="{{ path('service_overview') }}">
        {{ 'saml_authn_failed.button.try_again'|trans }}
    </a>
{% endblock %}
