<a class="welcome-link">
    <i class="fa fa-user-circle-o"></i>
    {% if contact.displayName is not empty %}
        {{ contact.displayName }}
    {% else %}
        {{ 'unknownDisplayName' | trans }}
    {%  endif %}
</a>
